<h1>Hello Pards</h1>

<p>Who scored more goals in the premier league?</p>
<%= player_1 = random_player.name %>
<p>or</p>
<%= player_2 = random_player.name %>

<%= compare_players(player_1, player_2) %>